<div style="background-color: #BFB78D;">
    <div class="container w-100">
        <div class="row w-100">
            <div class="col-md-3 mt-5 mb-5">
                <!--card com foto-->
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top" src="assets/img/thais.jpeg" alt="Imagem de capa do card">
                    <div class="card-body" style="background-color: #FFF4BC;;">
                        <p class="lead color-txt text-align-justify">
                            Desenvolvedora Full Stack Jr. | JAVA | Spring | MySQL | Angular | Scrum
                        </p>
                    </div>
                </div>
            </div>
            <!--texto-->
            <div class="col-md-9 mt-5 mb-5">
                <div class="jumbotron text-align-justify" style="background-color: #FFF4BC;">

                    <h2 class="display-4 titulo">Objetivo</h2>

                    <p class="lead txt-color text-align-justify">
                        Desenvolvedora Web Full Stack Jr. | Engenharia de Software
                    </p>

                </div>

                <div class="row w-100">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body" style="background-color: #FFF4BC;">
                                <h5 class="card-title">Generation Brasil (2020 - 2020)</h5>
                                <p class="card-text">Bootcamp preparatório para formação como Desenvolvedora Web
                                    Java Jr.,
                                    onde aprendi Java, Spring, Angular, Bootstrap e Docker, além da metodologia
                                    Scrum
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body" style="background-color: #FFF4BC;">
                                <h5 class="card-title">Universidade Presbiteriana Mackenzie (2018 - 2021)</h5>
                                <p class="card-text">Bacharelado em Administração com bolsa integral pelo programa
                                    Universidade para Todos (Prouni), onde aprendi gestão e visão de negócio
                                </p>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="jumbotron w-100" style="background-color: #FFF4BC;">
            <h2 class="display-4">Experiências:</h2>
            <div class="row">
                
                    <div class="col-md-4 mt-3">
                        <div class="card" style="width: 18rem; background-color: #F2E2CE;">
                            <div class="card-body">
                                <h5 class="card-title">Banco Bradesco - SA (2019 - 2020)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Escritório de Processos</h6>
                                <p class="card-text lead txt-color text-align-justify">
                                    Responsável por documentar processos, produtos e serviços da Organização,
                                    bem como atualizar organograma e disponibilizar dados para a realização do custeio.
                                </p>                            
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 mt-3">
                        <div class="card" style="width: 18rem; background-color: #F2E2CE;">
                            <div class="card-body">
                                <h5 class="card-title">Start Me Up - SMU (2019 - 2019)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Operações</h6>
                                <p class="card-text lead txt-color text-align-justify">
                                    Responsável por desenvolver o chatbot da empresa, bem como captar dados de CRM.
                                </p>

                            </div>
                        </div>
                    </div>                
            
                    <div class="col-md-4 mt-3">
                        <div class="card" style="width: 18rem; background-color: #F2E2CE;">
                            <div class="card-body">
                                <h5 class="card-title">Cursinho Popular Emancipa (2018 - atual)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Voluntário</h6>
                                <p class="card-text lead txt-color text-align-justify">
                                    Professora das disciplinas de História e Geografia responsável por aulas
                                    para as turmas, bem como acompanhamento individual dos estudantes.
                                </p>

                            </div>
                        </div>
                    </div>  
    </div>
</div>
</div>