<div style="background-color: #BFB78D;">
    <div class="container w-100">
        <div class="jumbotron text-align-justify texto monospace w-100" style="background-color: #FFF4BC;">

            <h1 class="display-4 titulo">Sobre mim</h1>

            <p class="lead txt-color text-align-justify">
                Desenvolvedora Web Full Stack Jr., graduada em Administração pela Universidade
                Presbiteriana Mackenzie e formada pelo Bootcamp Generation Brasil.
            </p>
            <p class="lead txt-color text-align-justify">
                Tenho conhecimento em backend com a linguagem Java e o framework Spring, banco de dados relacional
                MySql,
                Frontend com Angular e o frameworg Bootstrap, além do container Docker.
            </p>
            <p class="lead txt-color text-align-justify">
                Me comunico de maneira avançada em Inglês e tenho conhecimento metodologias ágeis como o Scrum e Kanban.
            </p>

            <hr class="my-4">

            <a class="btn btn-color" routerLink="/curriculo"  role="button">Saiba mais</a>
        </div>
    </div>
</div>
