<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #807A5E">

  <a class="navbar-brand monospace text-uppercase" href="#">
    Thais Gonçalves
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse monospace text-uppercase " id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ">
        <a class="nav-link" routerLink="/curriculo">
          Currículo
          <span class="sr-only">(página atual)</span></a>
      </li>
    </ul>
  </div>
</nav>